@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

// breakpoints
$mobile: 375px;
$desktop: 1440px;

// colors
$moderate-violet: #7440c7;
$very-dark-grayish-blue: #48556a;
$very-dark-blackish-blue: #1a212e;
$white: #fff;
$light-gray: #cfcfcf;
$light-grayish-blue: #edf2f748;

// font
$barlow: "Barlow Semi Condensed", sans-serif;
$body: 13px;
$medium: 500;
$semi-bold: 600;
